services:
  backend:
    build:
      context: ./server
    container_name: backend
  
    ports:
      - "3000:3000" 
 

  client:
    build:
      context: ./client

      args:
        - VITE_API_URL=http://localhost:3000
    container_name: client
    volumes:
      - ./server/uploads:/app/uploads
    ports:
      - "80:80"

    depends_on:
      - backend